{extend name='extra@admin/content'}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}'
            class='layui-btn layui-btn-small layui-btn-danger'><i class='fa fa-remove'></i> 删除消息
    </button>
</div>
{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form class="animated form-search" action="__SELF__" onsubmit="return false" method="get">

    <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="project_id" value="{$Think.get.project_id|default=''}" placeholder="项目id" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <!--<input type="text" name="product_id" value="{$Think.get.product_id|default=''}" placeholder="产品id" class="input-sm form-control">-->
                <select name='product_id' class='input-sm form-control'>
                    <option value=''> - 产品id - </option>
                    {foreach $product_ids as $product_id}
                    {if $product_id===$Think.get.product_id}
                    <option selected="selected" value='{$product_id}'>{$product_id}</option>
                    {else}
                    <option value='{$product_id}'>{$product_id}</option>
                    {/if}
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="form-group">
                <input type="text" name="device_name" value="{$Think.get.device_name|default=''}" placeholder="设备名称" class="input-sm form-control">
            </div>
        </div>

        <div class="col-xs-1">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-white"><i class="fa fa-search"></i> 搜索</button>
            </div>
        </div>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="" method="POST">
    <input type="hidden" value="resort" name="action"/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class='list-table-check-td'>
                    <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
                </th>
                <th class='text-left'>项目id</th>
                <th class='text-left'>产品id</th>
                <th class='text-left'>设备名称</th>
                <!--<th class='text-left'>消息类型</th>-->
                <!--<th class='text-left'>通知类型</th>-->
                <th class='text-left'>到达时间</th>
                <th class='text-left'>消息</th>
                <th class='text-right'>操作</th>
            </tr>
        </thead>
        <tbody>
            {foreach $list as $key=>$vo}
            <tr>
                <td class='list-table-check-td'>
                    <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
                </td>
                <td class='text-left'>{$vo.project_id|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-left'>{$vo.product_id|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-left'>{$vo.device_name|default="<span style='color:#ccc'>无</span>"}</td>
                <!--<td class='text-left'>{$vo.message_type|default="<span style='color:#ccc'>无</span>"}</td>-->
                <!--<td class='text-left'>{$vo.notify_type|default="<span style='color:#ccc'>无</span>"}</td>-->
                <td class='text-left nowrap'>{$vo.create_at|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-left nowrap'>{$vo.data|default="<span style='color:#ccc'>无</span>"}</td>
                <td class='text-right nowrap'>
                    <span class="text-explode">|</span>
                    <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'
                       href="javascript:void(0)">删除</a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
</form>
{/block}
